.clubs-image-banner,
.image-1-icon {
  position: absolute;
  height: 100%;
  width: 100%;
}
.image-1-icon {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.clubs-image-banner {
  top: -5px;
  right: 15px;
  bottom: 5px;
  left: -15px;
  background-color: rgba(23, 26, 31, 0.9);
}
.image-2-icon {
  position: absolute;
  top: -174.5px;
  left: 0;
  width: 1440px;
  height: 1098px;
  object-fit: cover;
}
.clubs1,
.welcome-to-the {
  position: absolute;
  text-align: center;
}
.clubs1 {
  text-decoration: none;
  top: 108px;
  left: calc(50% - 74px);
  font-size: 48px;
  line-height: 68px;
  font-weight: 700;
  color: inherit;
}
.welcome-to-the {
  top: 176px;
  left: calc(50% - 166px);
  font-size: var(--font-size-lg);
  line-height: 28px;
  font-family: var(--font-inter);
  color: #f5f2fd;
}
.check-1,
.the-sumg-is {
  margin: 0;
  position: absolute;
  top: 120px;
}
.check-1 {
  left: 12px;
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.the-sumg-is {
  left: 56px;
  line-height: 26px;
  display: inline-block;
  width: 282px;
  height: 338px;
}
.sumg {
  position: absolute;
  top: 54px;
  left: 24px;
  font-size: var(--font-size-13xl);
  line-height: 48px;
  font-weight: 700;
  font-family: var(--font-epilogue);
  color: var(--color-darkturquoise);
}
.learn-more {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 45px);
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.award-1-icon,
.button-1 {
  position: absolute;
  overflow: hidden;
}
.button-1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkturquoise);
  width: calc(100% - 48px);
  top: 495px;
  right: 24px;
  left: 24px;
  border-radius: var(--br-lg);
  height: 36px;
  white-space: nowrap;
}
.button-1:hover {
  background-color: #00a3bd;
}
.award-1-icon {
  top: 20px;
  left: 0;
  width: 24px;
  height: 24px;
}
.container-1 {
  position: absolute;
  top: 339.5px;
  left: calc(50% + 20px);
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 17px 35px rgba(23, 26, 31, 0.24);
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
  width: 354px;
  height: 559px;
  color: var(--color-lightslategray);
  font-family: var(--font-inter);
}
.check-6 {
  margin: 0;
  position: absolute;
  top: 125px;
  left: 12px;
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.aiesec {
  position: absolute;
  top: 54px;
  left: 24px;
  line-height: 48px;
  font-weight: 700;
}
.learn-more1 {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 45px);
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.button-2,
.chess-king-1 {
  position: absolute;
  overflow: hidden;
}
.button-2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lightslategray);
  width: calc(100% - 48px);
  top: 495px;
  right: 24px;
  left: 24px;
  border-radius: var(--br-lg);
  height: 36px;
  white-space: nowrap;
}
.button-2:hover {
  background-color: #787a87;
}
.chess-king-1 {
  top: 20px;
  left: 0;
  width: 24px;
  height: 24px;
}
.were-a-student-run {
  margin: 0;
  position: absolute;
  top: 120px;
  left: 27px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  font-family: var(--font-inter);
  color: var(--color-lightslategray);
  display: inline-block;
  width: 287px;
}
.container-2 {
  position: absolute;
  top: 339.5px;
  left: calc(50% + 374px);
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 17px 35px rgba(23, 26, 31, 0.24);
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
  border: 2px solid #323842;
  box-sizing: border-box;
  width: 346px;
  height: 556px;
  font-size: var(--font-size-13xl);
  color: #7f7f7f;
}
.sconnect {
  text-decoration: none;
  position: absolute;
  top: 26px;
  left: 98px;
  font-size: var(--font-size-sm);
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 700;
  color: inherit;
}
.image-3-icon {
  position: absolute;
  top: 16px;
  left: 60px;
  width: 36px;
  height: 42px;
  overflow: hidden;
}
.check-11,
.dance-club {
  margin: 0;
  position: absolute;
}
.check-11 {
  top: 124px;
  left: 12px;
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.dance-club {
  top: 54px;
  left: 24px;
  font-size: inherit;
  line-height: 48px;
  font-weight: 700;
  font-family: inherit;
}
.learn-more2 {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 45px);
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.award-1-icon1,
.button-11 {
  position: absolute;
  overflow: hidden;
}
.button-11 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-orchid-100);
  width: calc(100% - 48px);
  top: 498px;
  right: 38px;
  left: 10px;
  border-radius: var(--br-lg);
  height: 36px;
  white-space: nowrap;
}
.button-11:hover {
  background-color: #cf42b3;
}
.award-1-icon1 {
  top: 20px;
  left: 0;
  width: 24px;
  height: 24px;
}
.whether-youre-a {
  margin: 0;
  position: absolute;
  top: 124px;
  left: 42px;
  font-size: var(--font-size-base);
  line-height: 26px;
  font-family: var(--font-inter);
  color: var(--color-lightslategray);
  display: inline-block;
  width: 274px;
}
.container-11 {
  position: absolute;
  top: 338.5px;
  left: 386px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 17px 35px rgba(23, 26, 31, 0.24);
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
  width: 354px;
  height: 562px;
  font-size: var(--font-size-13xl);
  color: var(--color-orchid-100);
}
.check-1-icon {
  position: absolute;
  top: 125px;
  left: 29px;
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.chess-lovers-unite {
  margin: 0;
  position: absolute;
  top: 120px;
  left: 47px;
  line-height: 26px;
  display: inline-block;
  width: 300px;
}
.chess-club {
  position: absolute;
  top: 60px;
  left: 24px;
  font-size: var(--font-size-13xl);
  line-height: 48px;
  font-weight: 700;
  font-family: var(--font-epilogue);
  color: var(--color-rosybrown);
}
.learn-more3 {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 45px);
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.award-1-icon2,
.button-12 {
  position: absolute;
  left: 35px;
  overflow: hidden;
}
.button-12 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-rosybrown);
  width: calc(100% - 48px);
  top: 499px;
  right: 13px;
  border-radius: var(--br-lg);
  height: 36px;
  white-space: nowrap;
}
.button-12:hover {
  background-color: #825c5c;
}
.award-1-icon2 {
  top: 26px;
  width: 24px;
  height: 24px;
}
.container-12 {
  position: absolute;
  top: 337px;
  left: 0;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 17px 35px rgba(23, 26, 31, 0.24);
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
  width: 386px;
  height: 563px;
  color: var(--color-lightslategray);
  font-family: var(--font-inter);
}
.clubs {
  width: 100%;
  height: 900px;
  position: relative;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  background-color: #0f1a24;
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-epilogue);
}
@media screen and (max-width: 750px) {
  .clubs1 {
    font-size: 38px;
    line-height: 54px;
  }
  .aiesec,
  .chess-club,
  .dance-club,
  .sumg {
    font-size: var(--font-size-7xl);
    line-height: 38px;
  }
}
@media screen and (max-width: 450px) {
  .clubs1 {
    font-size: 29px;
    line-height: 41px;
  }
  .aiesec,
  .chess-club,
  .dance-club,
  .sumg {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
}
