.campus-chronicles-self-manage {
  position: absolute;
  top: 44px;
  left: 19px;
  line-height: 26px;
}
.campus-chronicles,
.view-more {
  position: absolute;
  color: var(--color-white);
}
.campus-chronicles {
  top: 18px;
  left: 19px;
  font-size: var(--font-size-mid);
  line-height: 26px;
}
.view-more {
  text-decoration: none;
  top: calc(50% - 12.5px);
  left: calc(50% - 40px);
  font-size: var(--font-size-base);
  line-height: 25px;
  font-family: var(--font-inter);
  text-align: left;
}
.button-5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslategray);
  position: absolute;
  top: 86px;
  left: 18px;
  border-radius: var(--br-lgi);
  width: 116px;
  height: 37px;
  overflow: hidden;
  white-space: nowrap;
}
.button-4:hover,
.button-5:hover {
  background-color: var(--color-dimgray);
}
.image-3-icon {
  position: absolute;
  top: 22.5px;
  left: 703px;
  width: 318.3px;
  height: 165px;
  object-fit: contain;
}
.container-5 {
  position: absolute;
  top: 988px;
  left: 198px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-xl);
  background-color: var(--color-seagreen);
  width: 1044px;
  height: 222px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-paleturquoise);
  font-family: var(--font-inter);
}
.vice-chancellors-run {
  position: absolute;
  top: 45px;
  left: 17px;
  line-height: 26px;
}
.vc-run-2024,
.view-more1 {
  position: absolute;
  color: var(--color-white);
}
.vc-run-2024 {
  top: 18px;
  left: 18px;
  font-size: var(--font-size-mid);
  line-height: 26px;
}
.view-more1 {
  text-decoration: none;
  top: calc(50% - 12.5px);
  left: calc(50% - 40px);
  font-size: var(--font-size-base);
  line-height: 25px;
  font-family: var(--font-inter);
  text-align: left;
}
.button-4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslategray);
  position: absolute;
  top: 86px;
  left: 18px;
  border-radius: var(--br-lgi);
  width: 116px;
  height: 37px;
  overflow: hidden;
  white-space: nowrap;
}
.image-2-icon {
  position: absolute;
  top: 18px;
  left: 694.5px;
  width: 462px;
  height: 172px;
  object-fit: contain;
}
.container-4 {
  position: absolute;
  top: 730px;
  left: 198px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-xl);
  background-color: var(--color-seagreen);
  width: 1044px;
  height: 222px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-paleturquoise);
  font-family: var(--font-inter);
}
.search {
  text-decoration: none;
  position: absolute;
  top: 13px;
  left: 55px;
  line-height: 26px;
  color: inherit;
}
.magnifying-glass-2 {
  position: absolute;
  top: 11px;
  left: 20px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.container-1 {
  position: absolute;
  top: 13px;
  left: 870px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-9xs);
  background-color: var(--color-darkslategray);
  width: 289px;
  height: 46px;
  color: var(--color-lightslategray);
}
.categories {
  text-decoration: none;
  position: absolute;
  left: 345px;
  white-space: nowrap;
}
.about,
.categories,
.contact {
  top: 25px;
  line-height: 26px;
  color: inherit;
  cursor: pointer;
}
.contact {
  text-decoration: none;
  position: absolute;
  left: 568.5px;
}
.about {
  left: 469px;
}
.about,
.home,
.post-event {
  text-decoration: none;
  position: absolute;
}
.home {
  top: 25px;
  left: 259px;
  line-height: 26px;
  color: inherit;
  cursor: pointer;
}
.post-event {
  top: calc(50% - 12.5px);
  left: calc(50% - 40.5px);
  font-size: var(--font-size-base);
  line-height: 25px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.button-3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-seagreen);
  position: absolute;
  top: 13px;
  left: 1195px;
  border-radius: 23px;
  width: 119px;
  height: 46px;
  overflow: hidden;
  white-space: nowrap;
}
.button-3:hover {
  background-color: #26bf8a;
}
.avatar-1-icon,
.image-4-icon {
  position: absolute;
  object-fit: contain;
}
.avatar-1-icon {
  top: 11px;
  left: 1346px;
  border-radius: 22px;
  width: 44px;
  height: 44px;
  overflow: hidden;
}
.image-4-icon {
  top: 9px;
  left: 59.5px;
  border-radius: var(--br-9xs);
  width: 39px;
  height: 39px;
}
.sconnect {
  text-decoration: none;
  position: relative;
  line-height: 23px;
  font-weight: 700;
  color: inherit;
  white-space: nowrap;
}
.depth-5-frame-1 {
  position: absolute;
  top: 26px;
  left: 111.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 18px;
  font-family: var(--font-plus-jakarta-sans);
}
.container-3 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  background-color: var(--color-gray);
  width: 100%;
  height: 72px;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.find-the-event {
  margin: 0;
  position: absolute;
  top: 17px;
  left: 56px;
  line-height: 26px;
}
.magnifying-glass-1 {
  position: absolute;
  top: 15px;
  left: 20px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.container-2 {
  position: absolute;
  top: 496px;
  left: 197px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-9xs);
  background-color: var(--color-darkslategray);
  width: 1045px;
  height: 55px;
  color: var(--color-lightslategray);
}
.highlights-this-week {
  margin: 0;
  position: absolute;
  top: 655px;
  left: 200px;
  font-size: 35px;
  line-height: 50px;
  font-weight: 700;
  font-family: var(--font-epilogue);
}
.informative-talks {
  position: absolute;
  top: calc(50% - 12.5px);
  left: calc(50% - 50.5px);
  line-height: 25px;
}
.button-1,
.info-icon {
  position: absolute;
  overflow: hidden;
}
.info-icon {
  top: calc(50% - 11.5px);
  left: calc(50% - 79.5px);
  width: 23px;
  height: 23px;
}
.button-1 {
  top: 577px;
  left: 426px;
  border-radius: var(--br-lgi);
  background-color: var(--color-darkslategray);
  width: 185px;
  height: 37px;
  white-space: nowrap;
  font-size: var(--font-size-base);
}
.competitions {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 32px);
  font-size: var(--font-size-mini);
  line-height: 24px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.button-2,
.emoji-events-icon {
  position: absolute;
  overflow: hidden;
}
.emoji-events-icon {
  top: calc(50% - 12px);
  left: calc(50% - 62px);
  width: 24px;
  height: 24px;
}
.button-2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslategray);
  top: 577px;
  left: 624px;
  border-radius: var(--br-lgi);
  width: 163px;
  height: 37px;
}
.button-2:hover,
.button-6:hover,
.button-7:hover {
  background-color: var(--color-dimgray);
}
.social {
  text-decoration: none;
  position: absolute;
  top: calc(50% - 12.5px);
  left: calc(50% - 9px);
  font-size: var(--font-size-base);
  line-height: 25px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.button-6,
.logo-instagram-icon {
  position: absolute;
  overflow: hidden;
}
.logo-instagram-icon {
  top: calc(50% - 10.5px);
  left: calc(50% - 36px);
  width: 21px;
  height: 21px;
}
.button-6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslategray);
  top: 577px;
  left: 308px;
  border-radius: var(--br-lgi);
  width: 105px;
  height: 37px;
}
.sport {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 6px);
  font-size: var(--font-size-mini);
  line-height: 24px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.button-7,
.dribbble-logo-icon {
  position: absolute;
  overflow: hidden;
}
.dribbble-logo-icon {
  top: calc(50% - 10.5px);
  left: calc(50% - 33px);
  width: 21px;
  height: 21px;
}
.button-7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslategray);
  top: 577px;
  left: 194px;
  border-radius: var(--br-lgi);
  width: 101px;
  height: 37px;
}
.image-3-icon1 {
  position: absolute;
  top: 107px;
  left: 197px;
  border-radius: var(--br-9xs);
  width: 1047px;
  height: 363px;
  object-fit: cover;
}
.events {
  width: 100%;
  height: 1250px;
  position: relative;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  background-color: var(--color-gray);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 750px) {
  .highlights-this-week {
    font-size: 28px;
    line-height: 40px;
  }
}
@media screen and (max-width: 450px) {
  .highlights-this-week {
    font-size: 21px;
    line-height: 30px;
  }
}
