body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-epilogue: Epilogue;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-13xl: 32px;
  --font-size-base: 16px;
  --font-size-lg: 18px;

  /* Colors */
  --color-gray-100: #1d2128;
  --color-darkslategray: #323842;
  --color-rosybrown: #b49090;
  --color-white: #fff;
  --color-lightslategray: #9095a0;
  --color-orchid: #e75ccb;
  --color-limegreen: #00d609;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-lg: 18px;
}
