.image-1-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image-icon {
  width: 36px;
  height: 42px;
  position: relative;
  object-fit: cover;
}
.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
}
.homepage,
.sconnect {
  text-decoration: none;
  position: relative;
  display: inline-block;
}
.sconnect {
  font-size: 20px;
  line-height: 30px;
  font-weight: 900;
  font-family: var(--font-epilogue);
  color: var(--color-white);
  min-width: 110px;
  white-space: nowrap;
}
.homepage {
  line-height: 22px;
  color: inherit;
  min-width: 73px;
}
.homepage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.dashboard {
  text-decoration: none;
  position: relative;
  line-height: 22px;
  color: inherit;
  display: inline-block;
  min-width: 73px;
}
.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.events {
  text-decoration: none;
  position: relative;
  line-height: 22px;
  color: inherit;
  display: inline-block;
  min-width: 45px;
}
.events-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.calendar {
  text-decoration: none;
  position: relative;
  line-height: 22px;
  color: inherit;
  display: inline-block;
  min-width: 60px;
}
.calendar-wrapper,
.container-4-inner,
.sconnect-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.calendar-wrapper {
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.container-4-inner,
.sconnect-parent {
  box-sizing: border-box;
  max-width: 100%;
}
.sconnect-parent {
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  gap: 24.5px;
}
.container-4-inner {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
}
.bell-1-icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.bell-1-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px var(--padding-3xs) 0 0;
}
.avatar-1-icon {
  width: 36px;
  height: 36px;
  position: relative;
  border-radius: 18px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.avatar-1-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.amanda-smith {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 45px;
}
.amanda-smith-wrapper {
  width: 97px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px var(--padding-xl) 0 0;
  box-sizing: border-box;
  color: var(--color-white);
}
.chevron-down-large-1 {
  width: 12px;
  height: 12px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.chevron-down-large-1-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13px 0 0;
}
.container-4,
.image-19-icon {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
}
.container-4 {
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  background-color: var(--color-gray);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 18px 5px;
  box-sizing: border-box;
  gap: var(--gap-7xs);
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray);
  font-family: var(--font-inter);
}
.image-19-icon {
  height: 51px;
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.image-19-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 32px 0 0;
  box-sizing: border-box;
  min-width: 116px;
}
.clubs1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 68px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.image-20-icon {
  height: 141.1px;
  width: 162.7px;
  position: absolute;
  margin: 0 !important;
  top: -90.6px;
  right: -51.9px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 2;
}
.club-info,
.frame-group,
.frame-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.club-info {
  justify-content: flex-start;
  position: relative;
}
.frame-group,
.frame-wrapper {
  max-width: 100%;
}
.frame-group {
  width: 363px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 32px;
}
.frame-wrapper {
  width: 987px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.image-3-icon {
  align-self: stretch;
  height: 132px;
  position: relative;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.sumg {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 36px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 71px;
}
.image-4-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.the-sumg-is {
  flex: 1;
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 186px;
}
.card-descriptions,
.image-3-parent,
.sumg-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-descriptions {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-7xs);
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.image-3-parent,
.sumg-parent {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.image-3-parent {
  gap: var(--gap-base);
}
.learn-more {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 26px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 103px;
}
.button-1,
.card-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button-1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-xl) var(--padding-4xs)
    var(--padding-2xl);
  background-color: #003592;
  flex: 1;
  border-radius: var(--br-5xs);
  overflow: hidden;
  justify-content: center;
  white-space: nowrap;
}
.button-1:hover {
  background-color: #3369c4;
}
.card-buttons {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.container-1,
.image-13-icon {
  border-radius: var(--br-5xs);
  max-width: 100%;
  flex-shrink: 0;
}
.container-1 {
  width: 360px;
  background-color: var(--color-gray);
  border: 2px solid #bcc1ca;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-3xl) var(--padding-4xl);
  gap: 162px;
  z-index: 1;
}
.image-13-icon {
  align-self: stretch;
  height: 132px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.aiesec {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 36px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 81px;
}
.aiesec-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2px;
}
.image-14-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.were-a-student-run {
  flex: 1;
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 187px;
}
.frame-container,
.image-13-parent,
.image-14-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-14-parent {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-7xs);
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.frame-container,
.image-13-parent {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.image-13-parent {
  align-items: flex-end;
  gap: var(--gap-base);
}
.learn-more1 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 26px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 103px;
}
.button-3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-xl) var(--padding-4xs)
    var(--padding-2xl);
  background-color: #1ce5ff;
  align-self: stretch;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
}
.button-3:hover {
  background-color: #00b3cc;
}
.container-3,
.image-7-icon {
  border-radius: var(--br-5xs);
  max-width: 100%;
  flex-shrink: 0;
}
.container-3 {
  width: 360px;
  background-color: var(--color-gray);
  border: 2px solid #0095a9;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-3xl) var(--padding-4xl)
    var(--padding-xl);
  gap: 96px;
  z-index: 1;
}
.image-7-icon {
  align-self: stretch;
  height: 132px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.chess-club {
  margin: 0;
  width: 169px;
  position: relative;
  font-size: inherit;
  line-height: 36px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.image-12-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.chess-lovers-unite {
  flex: 1;
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 186px;
}
.chess-club-parent,
.image-12-parent,
.image-7-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-12-parent {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-7xs);
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.chess-club-parent,
.image-7-parent {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.image-7-parent {
  gap: var(--gap-base);
}
.learn-more2 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 26px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 103px;
}
.button-2,
.button-2-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button-2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-xl) var(--padding-4xs)
    var(--padding-2xl);
  background-color: #a07ce9;
  flex: 1;
  border-radius: var(--br-5xs);
  overflow: hidden;
  justify-content: center;
  white-space: nowrap;
}
.button-2:hover {
  background-color: #8763cf;
}
.button-2-wrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.club-container,
.container-2 {
  justify-content: flex-start;
  max-width: 100%;
}
.container-2 {
  width: 360px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray);
  border: 2px solid #6025d8;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-3xl) var(--padding-4xl);
  gap: 206px;
  z-index: 1;
}
.club-container {
  width: 1176px;
  overflow-x: auto;
  flex-direction: row;
  gap: var(--gap-29xl);
  font-size: var(--font-size-5xl);
}
.club-container,
.clubs,
.clubs-inner,
.frame-parent {
  display: flex;
  align-items: flex-start;
}
.frame-parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: 21px;
  max-width: 100%;
}
.clubs,
.clubs-inner {
  box-sizing: border-box;
}
.clubs-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.clubs {
  width: 100%;
  position: relative;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  background-color: var(--color-gray);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 58px;
  gap: 102px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 48px;
  color: var(--color-white);
  font-family: var(--font-epilogue);
}
@media screen and (max-width: 750px) {
  .clubs1 {
    font-size: 38px;
    line-height: 54px;
  }
  .clubs {
    gap: 51px;
  }
}
@media screen and (max-width: 675px) {
  .container-1,
  .container-2,
  .container-3 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .club-container {
    gap: 24px;
  }
}
@media screen and (max-width: 450px) {
  .clubs1 {
    font-size: 29px;
    line-height: 41px;
  }
  .frame-group {
    gap: var(--gap-base);
  }
  .sumg {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .container-1 {
    gap: 81px;
  }
  .aiesec {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .container-3 {
    gap: var(--gap-29xl);
  }
  .chess-club {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .container-2 {
    gap: 103px;
  }
  .clubs {
    gap: 25px;
  }
}
