body {
  margin: 0;
  line-height: normal;

overflow: scroll;}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-epilogue: Epilogue;
  --font-plus-jakarta-sans: "Plus Jakarta Sans";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-mid: 17px;
  --font-size-mini: 15px;
  --font-size-sm: 14px;

  /* Colors */
  --color-seagreen: #019863;
  --color-darkslategray: #2e2e2d;
  --color-dimgray: #616161;
  --color-white: #fff;
  --color-paleturquoise: #a6f5ff;
  --color-lightslategray: #9095a0;

  /* Gaps */
  --gap-12xl: 31px;
  --gap-mini: 15px;
  --gap-xl: 20px;
  --gap-12xs: 1px;
  --gap-7xs: 6px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-6xs: 7px;
  --padding-lg: 18px;
  --padding-smi: 13px;
  --padding-mid: 17px;
  --padding-7xs: 6px;
  --padding-12xs: 1px;
  --padding-lgi: 19px;
  --padding-11xs: 2px;
  --padding-6xl: 25px;
  --padding-6xs-5: 6.5px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-lgi: 19px;
}
*::-webkit-scrollbar {
  display: none; 
}