body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-epilogue: Epilogue;
  --font-plus-jakarta-sans: "Plus Jakarta Sans";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-mid: 17px;
  --font-size-16xl: 35px;
  --font-size-2xl: 21px;
  --font-size-9xl: 28px;
  --font-size-mini: 15px;
  --font-size-lg: 18px;

  /* Colors */
  --color-seagreen: #019863;
  --color-darkslategray: #2e2e2d;
  --color-dimgray: #616161;
  --color-white: #fff;
  --color-paleturquoise: #a6f5ff;
  --color-lightslategray: #9095a0;
  --color-gray: #0f1a24;
  --color-mediumseagreen: #26bf8a;

  /* Gaps */
  --gap-16xl: 35px;
  --gap-mid: 17px;
  --gap-xl: 20px;
  --gap-6xl: 25px;
  --gap-12xs: 1px;
  --gap-7xl: 26px;
  --gap-smi: 13px;
  --gap-7xs: 6px;
  --gap-xs: 12px;
  --gap-2xs: 11px;

  /* Paddings */
  --padding-53xl: 72px;
  --padding-3xl: 22px;
  --padding-xl: 20px;
  --padding-11xs: 2px;
  --padding-9xs: 4px;
  --padding-12xs: 1px;
  --padding-7xs: 6px;
  --padding-lg: 18px;
  --padding-6xs-5: 6.5px;
  --padding-lgi: 19px;
  --padding-smi: 13px;
  --padding-mini: 15px;
  --padding-base: 16px;
  --padding-mid: 17px;
  --padding-11xs-5: 1.5px;
  --padding-10xs: 3px;
  --padding-xs: 12px;
  --padding-4xs: 9px;
  --padding-31xl: 50px;
  --padding-40xl: 59px;
  --padding-10xl: 29px;
  --padding-6xl: 25px;
  --padding-2xs-5: 10.5px;
  --padding-4xl: 23px;
  --padding-2xs: 11px;
  --padding-6xs: 7px;
  --padding-sm: 14px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-lgi: 19px;
  --br-9xs: 4px;
  --br-3xl: 22px;
  --br-4xl: 23px;
}
