.image-4-icon {
  height: 39px;
  width: 39px;
  position: relative;
  border-radius: var(--br-9xs);
  object-fit: contain;
}
.sconnect {
  text-decoration: none;
  position: relative;
  line-height: 23px;
  font-weight: 700;
  color: inherit;
  white-space: nowrap;
}
.connect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-4xs) 0 0;
  font-size: var(--font-size-lg);
  font-family: var(--font-plus-jakarta-sans);
}
.categories1,
.home {
  text-decoration: none;
  position: relative;
  line-height: 26px;
  color: inherit;
  cursor: pointer;
}
.categories1 {
  white-space: nowrap;
}
.categories,
.navigation {
  display: flex;
  align-items: flex-start;
}
.categories {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.navigation {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-sm) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.about {
  text-decoration: none;
  position: relative;
  line-height: 26px;
  color: inherit;
  cursor: pointer;
}
.about-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-smi) 0 0;
}
.contact {
  text-decoration: none;
  position: relative;
  line-height: 26px;
  color: inherit;
  cursor: pointer;
}
.about-contact1 {
  width: 288.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.magnifying-glass-2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.container-1-child {
  width: 56px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 28px;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  font-family: var(--font-inter);
  font-size: var(--font-size-mid);
  color: var(--color-lightslategray);
}
.container-1,
.container-1-child,
.search-bar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container-1 {
  align-self: stretch;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-9xs);
  background-color: var(--color-darkslategray);
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-xl) var(--padding-6xs);
  gap: var(--gap-2xs);
}
.search-bar {
  width: 312px;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-4xl) 0 0;
  box-sizing: border-box;
}
.post-event {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 25px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.button-3,
.post-event-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs-5) var(--padding-lgi);
  background-color: var(--color-seagreen);
  border-radius: var(--br-4xl);
  overflow: hidden;
  flex-direction: row;
  white-space: nowrap;
}
.button-3:hover {
  background-color: var(--color-mediumseagreen);
}
.post-event-button {
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-lgi) 0 0;
}
.avatar-1-icon {
  width: 44px;
  height: 44px;
  position: relative;
  border-radius: var(--br-3xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}
.avatar-container,
.container-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.container-3 {
  align-self: stretch;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  background-color: var(--color-gray);
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-31xl) var(--padding-smi)
    var(--padding-40xl);
  box-sizing: border-box;
  gap: var(--gap-smi);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.image-3-icon {
  height: 363px;
  flex: 1;
  position: relative;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.image-3-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
.magnifying-glass-1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.container-2,
.container-2-child,
.event-search {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.container-2-child {
  width: 274px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 28px;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-mid);
  color: var(--color-lightslategray);
}
.container-2,
.event-search {
  flex-direction: row;
  max-width: 100%;
}
.container-2 {
  flex: 1;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-9xs);
  background-color: var(--color-darkslategray);
  padding: var(--padding-mini) var(--padding-xl) var(--padding-xs);
  gap: var(--gap-xs);
}
.event-search {
  align-self: stretch;
  padding: 0 var(--padding-11xs) 0 var(--padding-10xs);
}
.dribbble-logo-icon {
  width: 21px;
  height: 21px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.category-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
}
.sport {
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 24px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.button-7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs-5) var(--padding-base) var(--padding-6xs-5)
    var(--padding-mid);
  background-color: var(--color-darkslategray);
  border-radius: var(--br-lgi);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.logo-instagram-icon {
  width: 21px;
  height: 21px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.logo-instagram-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.social {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 25px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.button-6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-mini) var(--padding-7xs)
    var(--padding-base);
  background-color: var(--color-darkslategray);
  border-radius: var(--br-lgi);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.info-icon {
  width: 23px;
  height: 23px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.informative-talks {
  position: relative;
  line-height: 25px;
}
.button-1 {
  border-radius: var(--br-lgi);
  background-color: var(--color-darkslategray);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-smi);
  gap: var(--gap-7xs);
}
.emoji-events-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.competitions {
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 24px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.button-2,
.event-categories,
.frame-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs-5) var(--padding-lg) var(--padding-6xs-5)
    var(--padding-lgi);
  background-color: var(--color-darkslategray);
  border-radius: var(--br-lgi);
  overflow: hidden;
  gap: var(--gap-7xs);
}
.button-2:hover,
.button-4:hover {
  background-color: var(--color-dimgray);
}
.event-categories,
.frame-group {
  gap: var(--gap-smi);
  max-width: 100%;
}
.frame-group {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-7xl);
}
.highlights-this-week {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  font-weight: 700;
  font-family: inherit;
}
.highlights-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.vc-run-2024 {
  position: relative;
  line-height: 26px;
}
.event-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.vice-chancellors-run {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 26px;
  color: var(--color-paleturquoise);
}
.event-details {
  position: absolute;
  top: 18px;
  left: 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.view-more {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 25px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.button-4,
.view-more-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-lg);
  background-color: var(--color-darkslategray);
  border-radius: var(--br-lgi);
  overflow: hidden;
  white-space: nowrap;
}
.view-more-button {
  position: absolute;
  top: 86px;
  left: 17px;
  padding: 0 0 0 var(--padding-12xs);
}
.image-2-icon {
  position: absolute;
  top: 18px;
  left: 694.5px;
  width: 462px;
  height: 172px;
  object-fit: contain;
}
.container-4 {
  align-self: stretch;
  height: 222px;
  position: relative;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-xl);
  background-color: var(--color-seagreen);
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.highlights-content {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.frame-parent,
.highlights,
.highlights-content {
  display: flex;
  max-width: 100%;
}
.highlights {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs) 0 var(--padding-9xs);
  box-sizing: border-box;
  font-size: var(--font-size-16xl);
  font-family: var(--font-epilogue);
}
.frame-parent {
  width: 1050px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 41px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.content,
.events-2 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.content {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-3xl) 0 var(--padding-xl);
  max-width: 100%;
}
.events-2 {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-53xl);
  gap: var(--gap-16xl);
  background-image: url("web\ components/events-2@3x(3).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .categories {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  .highlights-this-week {
    font-size: var(--font-size-9xl);
    line-height: 40px;
  }
}
@media screen and (max-width: 750px) {
  .container-3 {
    padding-left: var(--padding-10xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
  .event-categories {
    flex-wrap: wrap;
  }
  .frame-parent {
    gap: var(--gap-xl);
  }
  .events-2 {
    gap: var(--gap-mid);
  }
}
@media screen and (max-width: 450px) {
  .highlights-this-week {
    font-size: var(--font-size-2xl);
    line-height: 30px;
  }
}
