body {
  margin: 0;
  line-height: normal;
  overflow: scroll;
}

:root {
  /* fonts */
  --font-plus-jakarta-sans: "Plus Jakarta Sans";

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;

  /* Colors */
  --color-gray-100: #242424;
  --color-gray-200: #0f1a24;
  --color-darkslategray-100: #3d3d3d;
  --color-darkslategray-200: #2e2e2e;
  --color-darkgray: #999;
  --color-white: #fff;
  --color-seagreen: #009963;

  /* Gaps */
  --gap-9xs: 4px;
  --gap-xs: 12px;
  --gap-base: 16px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-5xl: 24px;
  --padding-21xl: 40px;
  --padding-base: 16px;
  --padding-mini: 15px;
  --padding-xs: 12px;
  --padding-5xs: 8px;
  --padding-6xs: 7px;
  --padding-2xs: 11px;
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-xs: 12px;
  --br-xl: 20px;
}
*::-webkit-scrollbar {
  display: none; 
}