.image-4-icon {
  width: 39px;
  height: 39px;
  position: relative;
  border-radius: var(--br-9xs);
  object-fit: contain;
}
.header-left {
  width: 88.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.sconnect {
  text-decoration: none;
  position: relative;
  line-height: 23px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 100px;
  white-space: nowrap;
}
.header-center {
  width: 149.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-xl) 0 0;
  box-sizing: border-box;
  font-size: 18px;
  color: var(--color-white);
  font-family: var(--font-plus-jakarta-sans);
}
.image-2 {
  width: 133px;
  height: 36px;
  position: relative;
  border-radius: var(--br-9xs);
}
.image-2-wrapper {
  width: 207.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8.5px 0 0;
  box-sizing: border-box;
}
.home {
  text-decoration: none;
  position: relative;
  line-height: 22px;
  color: inherit;
  display: inline-block;
  min-width: 40px;
  cursor: pointer;
}
.frame {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-4xl);
}
.about {
  text-decoration: none;
  position: relative;
  line-height: 22px;
  color: inherit;
  display: inline-block;
  min-width: 45px;
  cursor: pointer;
}
.frame-group,
.frame1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame1 {
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-200);
  overflow: hidden;
  padding: var(--padding-mini) var(--padding-xl) var(--padding-mini)
    var(--padding-4xl);
  z-index: 1;
  margin-left: -0.4px;
}
.frame-group {
  flex: 1;
}
.contact {
  text-decoration: none;
  position: relative;
  line-height: 22px;
  color: inherit;
  display: inline-block;
  min-width: 70px;
  cursor: pointer;
}
.frame-parent,
.frame2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame2 {
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-200);
  overflow: hidden;
  padding: var(--padding-mini) var(--padding-5xs) var(--padding-mini)
    var(--padding-4xl);
}
.frame-parent {
  width: 301.4px;
  gap: 25.6px;
}
.about1 {
  text-decoration: none;
  position: relative;
  line-height: 22px;
  color: inherit;
  display: inline-block;
  min-width: 60px;
  cursor: pointer;
}
.about-wrapper {
  width: 109.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15.5px var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.magnifying-glass-2 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.search-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.search {
  text-decoration: none;
  width: 56px;
  position: relative;
  font-size: var(--font-size-mid);
  line-height: 26px;
  font-family: var(--font-inter);
  color: var(--color-lightslategray);
  white-space: nowrap;
  text-align: left;
  display: inline-block;
}
.about-button,
.container-11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container-11 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-11xs) var(--padding-xl);
  background-color: #2e2e2d;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-xl);
  flex-direction: row;
  gap: var(--gap-mini);
}
.about-button {
  width: 184.9px;
  flex-direction: column;
  padding: 11.5px 0 0;
  box-sizing: border-box;
}
.image-7-icon {
  width: 49px;
  height: 50px;
  position: relative;
  border-radius: var(--br-xl);
  object-fit: cover;
  cursor: pointer;
}
.notifications {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5px 0 0;
}
.container-1,
.container-1-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.container-1 {
  flex: 1;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  background-color: #0f1a24;
  justify-content: space-between;
  padding: 5.5px var(--padding-xl) 6.5px;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-silver);
  font-family: var(--font-inter);
}
.container-1-wrapper {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs) 0 0;
  top: 0;
  z-index: 99;
  position: sticky;
}
.image-11-icon {
  height: 51px;
  width: 51px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  object-fit: contain;
}
.manage-groups,
.username {
  position: absolute;
  margin: 0 !important;
  line-height: 26px;
  display: inline-block;
}
.username {
  text-decoration: none;
  top: 0;
  left: 62px;
  color: inherit;
  min-width: 82px;
}
.manage-groups {
  top: 66px;
  left: 0;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-200);
  min-width: 120px;
}
.create-group,
.plus-1-icon {
  position: absolute;
  margin: 0 !important;
  top: 107px;
}
.plus-1-icon {
  height: 32px;
  width: 32px;
  left: 0;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
}
.create-group {
  left: 43px;
  line-height: 26px;
  display: inline-block;
  min-width: 108px;
}
.find-friends,
.users-1-icon {
  position: absolute;
  margin: 0 !important;
  top: 154px;
}
.users-1-icon {
  height: 32px;
  width: 32px;
  left: 0;
  overflow: hidden;
  flex-shrink: 0;
}
.find-friends {
  left: 43px;
  font-size: var(--font-size-base);
  line-height: 26px;
  display: inline-block;
  min-width: 93px;
}
.group-chat,
.image-8-icon {
  position: absolute;
  margin: 0 !important;
  top: 201px;
}
.image-8-icon {
  height: 26px;
  width: 26px;
  left: 0;
  border-radius: var(--br-9xs);
  object-fit: contain;
}
.group-chat {
  left: 37px;
  line-height: 26px;
  display: inline-block;
  min-width: 93px;
}
.create-group1,
.your-groups-1 {
  position: absolute;
  margin: 0 !important;
  top: 242px;
}
.your-groups-1 {
  height: 26px;
  width: 26px;
  left: 0;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 26px;
}
.create-group1 {
  left: 37px;
  line-height: 26px;
  display: inline-block;
  min-width: 100px;
}
.frame-wrapper,
.image-11-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-11-parent {
  align-self: stretch;
  height: 268px;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  gap: 15px 9px;
}
.frame-wrapper {
  width: 151px;
  flex-direction: column;
  padding: 14.5px 0 0;
  box-sizing: border-box;
}
.magnifying-glass-icon {
  height: 29px;
  width: 29px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.search-input-box,
.search-input-placeholder,
.textbox-1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.search-input-placeholder {
  width: 389px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 28px;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-mid);
  color: var(--color-lightslategray);
  max-width: calc(100% - 37px);
}
.search-input-box,
.textbox-1 {
  flex-direction: row;
  max-width: 100%;
}
.textbox-1 {
  height: 31px;
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--color-darkslategray);
  border: 1px solid var(--color-lightslategray);
  padding: 0 var(--padding-xl);
  gap: 8px;
}
.search-input-box {
  align-self: stretch;
  height: 29px;
  padding: 0 0 0 var(--padding-11xs);
}
.create-new-group {
  position: relative;
  font-size: var(--font-size-mid);
  line-height: 27px;
  font-family: var(--font-inter);
  color: #caece2;
  text-align: left;
  cursor: pointer;
}
.button-2 {
  cursor: pointer;
  border: 0;
  padding: 14px 30px;
  background-color: var(--color-seagreen);
  border-radius: var(--br-9xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.button-2:hover {
  background-color: #26bf8a;
}
.search-for-friend {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 32px;
  font-family: var(--font-inter);
  color: var(--color-silver);
  text-align: left;
}
.button-2-parent,
.button-3 {
  flex-direction: row;
  justify-content: flex-start;
}
.button-3 {
  cursor: pointer;
  border: 0;
  padding: 12px 17px;
  background-color: var(--color-darkslategray);
  border-radius: var(--br-9xl);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  white-space: nowrap;
}
.button-3:hover,
.button-4:hover {
  background-color: var(--color-dimgray-100);
}
.button-2-parent {
  gap: var(--gap-sm);
}
.button-2-parent,
.frame-wrapper1,
.search-input-box-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.search-input-box-parent {
  width: 967px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 13px;
}
.frame-wrapper1 {
  width: 1139px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.group-chats {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.course-group-a,
.mathematics {
  position: relative;
  line-height: 26px;
}
.course-group-a {
  display: inline-block;
  min-width: 22px;
}
.mathematics {
  color: var(--color-dimgray-200);
}
.image-3-parent {
  height: 296px;
  width: 286px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs-5);
}
.image-5-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.biology,
.course-group-b {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 49px;
}
.biology {
  color: var(--color-dimgray-200);
  min-width: 105px;
  margin-top: -1px;
}
.course-group-b-parent,
.frame-wrapper2,
.image-5-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-5-parent {
  align-self: stretch;
  flex: 1;
  gap: var(--gap-sm);
}
.frame-wrapper2 {
  height: 303px;
  width: 299px;
  padding: var(--padding-11xs) var(--padding-4xs) 0 0;
  box-sizing: border-box;
}
.image-9-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.history,
.study-group-c {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 86px;
}
.history {
  color: var(--color-dimgray-200);
  min-width: 33px;
  z-index: 1;
}
.image-9-parent,
.study-group-c-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.study-group-c-parent {
  padding: 0 var(--padding-xl) 0 0;
}
.image-9-parent {
  height: 304px;
  width: 331px;
  gap: var(--gap-2xs);
  max-width: 100%;
}
.image-12-icon {
  align-self: stretch;
  height: 236px;
  position: relative;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.engineering,
.project-group-d {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 49px;
}
.engineering {
  margin-top: -1px;
  min-width: 44px;
}
.engineering-wrapper {
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  color: var(--color-dimgray-200);
}
.footer-content,
.footer-content-inner,
.frame-parent1,
.image-12-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.image-12-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xs-5);
  min-width: 238px;
}
.footer-content,
.footer-content-inner,
.frame-parent1 {
  box-sizing: border-box;
}
.frame-parent1 {
  flex: 1;
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-2xs);
}
.footer-content,
.footer-content-inner {
  align-self: stretch;
}
.footer-content-inner {
  flex-direction: row;
  padding: 0 0 0 var(--padding-6xs);
  font-size: var(--font-size-mid);
  color: var(--color-silver);
}
.footer-content {
  flex-direction: column;
  padding: 0 0 var(--padding-6xl);
  gap: 1px;
}
.group-chat1 {
  display: inline-block;
  min-width: 93px;
}
.chat-with-your,
.group-chat1,
.open-chat {
  position: relative;
  line-height: 26px;
}
.open-chat {
  font-size: var(--font-size-base);
  line-height: 27px;
  font-family: var(--font-inter);
  color: var(--color-silver);
  text-align: left;
  display: inline-block;
  min-width: 82px;
}
.button-4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-6xl) var(--padding-8xs) 26px;
  background-color: var(--color-darkslategray);
  border-radius: 19px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.chat-preview-description {
  gap: var(--gap-mini);
  font-size: var(--font-size-xl);
  color: #1baddc;
  font-family: var(--font-plus-jakarta-sans);
}
.chat-preview-content,
.chat-preview-description,
.chat-preview-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chat-preview-content {
  padding: 4px 0 0;
}
.image-13-icon {
  width: 396px;
  position: relative;
  border-radius: var(--br-xl);
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.container-2,
.container-2-wrapper {
  flex-direction: row;
  box-sizing: border-box;
}
.container-2 {
  flex: 1;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-xl);
  background-color: var(--color-seagreen);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-mini) 34px 16px 19px;
  max-width: 100%;
  gap: var(--gap-xl);
}
.container-2-wrapper {
  width: 1309px;
  padding: 0 var(--padding-6xs);
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.container-2-wrapper,
.frame-div,
.frame-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-div {
  flex: 1;
  flex-direction: column;
  gap: 30px;
  min-width: 861px;
  font-size: 32px;
  color: var(--color-white);
}
.frame-section {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 96.5px;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-silver);
  font-family: var(--font-inter);
}
.image-6-icon {
  width: 27px;
  height: 27px;
  position: relative;
  border-radius: var(--br-9xs);
  object-fit: cover;
}
.image-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.image-1-icon,
.image-10-icon {
  height: 27px;
  width: 27px;
  position: relative;
  border-radius: var(--br-9xs);
  object-fit: contain;
}
.image-10-icon {
  height: 25px;
  object-fit: cover;
}
.image-10-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.image-links-parent {
  width: 146px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.vibegroups {
  position: relative;
  line-height: 26px;
}
.frame-parent2,
.vibegroups-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vibegroups-wrapper {
  flex-direction: row;
  padding: 0 0 0 var(--padding-5xs);
}
.frame-parent2 {
  flex-direction: column;
  gap: 25px;
}
.find-friends-details {
  width: 1456.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.conversion-output,
.frame-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame-container {
  width: 1591.5px;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-xl);
  gap: 93px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-lightslategray);
  font-family: var(--font-inter);
}
.conversion-output {
  width: 100%;
  position: relative;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  background: linear-gradient(180deg, #0f1a24, #39648a);
  overflow: hidden;
  align-items: flex-end;
  padding: 3px var(--padding-4xs) var(--padding-11xs) var(--padding-11xs);
  gap: 34px;
  mix-blend-mode: normal;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1100px) {
  .frame-group {
    display: none;
  }
  .frame-parent {
    width: 126px;
  }
  .frame-parent1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1025px) {
  .container-11 {
    display: none;
  }
  .about-button {
    width: 49.9px;
  }
  .group-chats {
    font-size: 26px;
    line-height: 40px;
  }
  .container-2 {
    flex-wrap: wrap;
  }
  .frame-div {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .search {
    display: none;
  }
  .button-2-parent {
    flex-wrap: wrap;
  }
  .frame-section {
    gap: 48px;
  }
  .frame-container {
    gap: 46px;
  }
}
@media screen and (max-width: 450px) {
  .group-chats {
    font-size: 19px;
    line-height: 30px;
  }
  .chat-with-your {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .frame-section {
    gap: 24px;
  }
  .frame-container {
    gap: 23px;
  }
  .conversion-output {
    gap: 17px;
  }
}
