.image-2,
.image-4-icon {
  border-radius: var(--br-9xs);
}
.image-4-icon {
  height: 39px;
  width: 39px;
  position: relative;
  object-fit: cover;
  min-height: 39px;
}
.image-2 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.sconnect {
  text-decoration: none;
  position: relative;
  line-height: 23px;
  font-weight: 700;
  color: inherit;
  white-space: nowrap;
  z-index: 1;
}
.image-2-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-7xs-5) 0 var(--padding-5xs-5) var(--padding-14xl);
  position: relative;
}
.frame-wrapper,
.image-4-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-4-parent {
  flex-direction: row;
  gap: 0.5px;
}
.frame-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  font-size: 18px;
  color: var(--color-white);
  font-family: var(--font-plus-jakarta-sans);
}
.home {
  text-decoration: none;
  position: relative;
  line-height: 22px;
  font-weight: 700;
  color: inherit;
  cursor: pointer;
}
.frame {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-4xl);
  flex-shrink: 0;
  debug_commit: 69da668;
}
.about {
  text-decoration: none;
  position: relative;
  line-height: 22px;
  color: inherit;
  cursor: pointer;
}
.frame1 {
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-200);
  overflow: hidden;
  padding: var(--padding-mini) var(--padding-xl) var(--padding-mini)
    var(--padding-4xl);
  flex-shrink: 0;
  debug_commit: 69da668;
  z-index: 1;
  margin-left: -0.4px;
}
.frame-group,
.frame1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact {
  text-decoration: none;
  position: relative;
  line-height: 22px;
  color: inherit;
  cursor: pointer;
}
.frame-parent,
.frame2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame2 {
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-200);
  overflow: hidden;
  padding: var(--padding-mini) var(--padding-5xs) var(--padding-mini)
    var(--padding-4xl);
}
.frame-parent {
  width: 502.4px;
  gap: 27.1px;
  max-width: 100%;
}
.magnifying-glass-icon {
  width: 29px;
  height: 29px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.magnifying-glass-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5px 0 0;
}
.search {
  text-decoration: none;
  position: relative;
  line-height: 32px;
  color: inherit;
  white-space: nowrap;
}
.textbox-3,
.textbox-3-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.textbox-3 {
  align-self: stretch;
  height: 47px;
  border-radius: var(--br-9xs);
  background-color: var(--color-darkslategray);
  border: 1px solid var(--color-lightslategray);
  flex-direction: row;
  padding: 7px var(--padding-base) 6px;
  gap: var(--gap-5xs);
}
.textbox-3-wrapper {
  height: 46px;
  flex: 1;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.image-7-icon {
  height: 50px;
  width: 49px;
  position: relative;
  border-radius: var(--br-xl);
  object-fit: cover;
  cursor: pointer;
}
.container-1,
.frame-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-container {
  width: 370px;
  justify-content: flex-start;
  gap: 34px;
  font-size: var(--font-size-xl);
  color: var(--color-lightslategray);
}
.container-1 {
  align-self: stretch;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  background-color: var(--color-gray-100);
  justify-content: space-between;
  padding: var(--padding-mini) 49px var(--padding-5xs-5) 31px;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-silver);
  font-family: var(--font-inter);
}
.image-11-icon {
  width: 51px;
  height: 51px;
  position: relative;
  border-radius: var(--br-xl);
  object-fit: cover;
}
.image-11-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
}
.manage-groups,
.username {
  text-decoration: none;
  position: relative;
  line-height: 26px;
  color: inherit;
  flex-shrink: 0;
  debug_commit: 69da668;
}
.username {
  z-index: 1;
}
.manage-groups {
  margin-top: -2px;
  display: inline-block;
}
.manage-groups-wrapper {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-200);
}
.username-parent {
  flex-direction: column;
  align-items: flex-start;
}
.frame-div,
.profile-actions-inner,
.username-parent {
  display: flex;
  justify-content: flex-start;
}
.frame-div {
  flex-direction: row;
  align-items: flex-end;
  gap: 12px;
}
.profile-actions-inner {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.magnifying-glass-icon1 {
  height: 29px;
  width: 29px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.textbox-1-child {
  width: 289px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  font-family: var(--font-inter);
  font-size: var(--font-size-mid);
  color: var(--color-lightslategray);
}
.profile-actions,
.textbox-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.textbox-1 {
  height: 56px;
  width: 983px;
  border-radius: var(--br-9xs);
  background-color: var(--color-darkslategray);
  border: 1px solid var(--color-lightslategray);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-xl) var(--padding-xs);
  gap: var(--gap-5xs);
}
.profile-actions {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.magnifying-glass-icon2 {
  height: 29px;
  width: 29px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.textbox-2,
.textbox-2-child {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.textbox-2-child {
  width: 112px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 28px;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  color: var(--color-silver);
}
.textbox-2 {
  height: 47px;
  width: 323px;
  border-radius: var(--br-9xs);
  background-color: var(--color-darkslategray);
  border: 1px solid var(--color-lightslategray);
  flex-direction: row;
  padding: 8.5px var(--padding-base) var(--padding-5xs-5);
  gap: var(--gap-5xs);
  max-width: 100%;
}
.create-new-group {
  position: relative;
  font-size: var(--font-size-mid);
  line-height: 27px;
  font-family: var(--font-inter);
  color: var(--color-lightcyan);
  text-align: left;
  cursor: pointer;
}
.button-2 {
  cursor: pointer;
  border: 0;
  padding: 14px var(--padding-11xl);
  background-color: var(--color-seagreen);
  flex: 1;
  border-radius: var(--br-9xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: 136px;
  white-space: nowrap;
}
.button-2:hover {
  background-color: var(--color-mediumseagreen);
}
.search-for-friend {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 32px;
  font-family: var(--font-inter);
  color: var(--color-silver);
  text-align: left;
}
.button-3 {
  cursor: pointer;
  border: 0;
  padding: 11.5px 17px;
  background-color: var(--color-darkslategray);
  border-radius: var(--br-9xl);
  overflow: hidden;
  flex-direction: row;
  white-space: nowrap;
}
.button-3:hover {
  background-color: var(--color-dimgray-100);
}
.button-2-parent,
.button-3,
.frame-wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-2-parent {
  align-self: stretch;
  flex-direction: row;
  gap: 13px;
}
.frame-wrapper1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  min-width: 274px;
  max-width: 100%;
}
.textbox-2-parent {
  width: 783px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 41px;
}
.profile-details,
.profile-details-inner,
.textbox-2-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.profile-details-inner {
  flex-direction: row;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.profile-details {
  align-self: stretch;
  flex-direction: column;
  gap: 16px;
}
.plus-1-icon {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.create-group {
  position: relative;
  line-height: 26px;
}
.create-group-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.plus-button-content {
  flex-direction: row;
  gap: 7px;
}
.plus-button-content,
.plus-button-content-wrapper,
.profile-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.plus-button-content-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-lgi);
}
.profile-info {
  width: 1346px;
  flex-direction: column;
  gap: 2px;
  max-width: 100%;
  flex-shrink: 0;
}
.users-1-icon {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.users-1-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.find-friends {
  position: relative;
  line-height: 26px;
}
.find-friends-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.image-8-icon {
  height: 26px;
  width: 26px;
  position: relative;
  border-radius: var(--br-9xs);
  object-fit: contain;
}
.group-chat {
  position: relative;
  line-height: 26px;
}
.group-chat-wrapper,
.image-8-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-chat-wrapper {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.image-8-parent {
  flex-direction: row;
  gap: var(--gap-sm);
  font-size: var(--font-size-mid);
}
.find-friends-details,
.find-friends-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.find-friends-info {
  align-items: flex-end;
  gap: var(--gap-xl);
}
.find-friends-details {
  align-items: flex-start;
  padding: var(--padding-mini) 0 0;
}
.group-chats {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  font-weight: 700;
  font-family: inherit;
}
.group-chats-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.image-3-icon {
  width: 241px;
  height: 241px;
  position: relative;
  border-radius: var(--br-9xs);
  object-fit: cover;
}
.course-group-a,
.mathematics {
  position: relative;
  line-height: 26px;
}
.mathematics {
  color: var(--color-dimgray-200);
  z-index: 1;
}
.course-group-a-parent {
  flex-direction: column;
}
.course-group-a-parent,
.frame-wrapper2,
.image-3-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper2 {
  flex-direction: row;
  padding: 0 var(--padding-9xs);
}
.image-3-parent {
  flex-direction: column;
  gap: var(--gap-2xs);
}
.image-5-icon {
  width: 236px;
  height: 236px;
  position: relative;
  border-radius: var(--br-9xs);
  object-fit: cover;
}
.biology,
.course-group-b {
  position: relative;
  line-height: 26px;
}
.biology {
  color: var(--color-dimgray-200);
  z-index: 1;
  margin-top: -1px;
}
.course-group-b-parent {
  justify-content: flex-start;
}
.course-group-b-parent,
.frame-wrapper3,
.image-5-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.image-5-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.frame-wrapper3 {
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
}
.image-9-icon {
  width: 241px;
  height: 241px;
  position: relative;
  border-radius: var(--br-9xs);
  object-fit: cover;
}
.history,
.study-group-c {
  position: relative;
  line-height: 26px;
}
.history {
  color: var(--color-dimgray-200);
  z-index: 1;
}
.study-group-c-parent {
  flex-direction: column;
}
.frame-wrapper4,
.image-9-parent,
.study-group-c-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper4 {
  flex-direction: row;
  padding: 0 var(--padding-9xs);
}
.image-9-parent {
  flex-direction: column;
  gap: var(--gap-2xs);
}
.image-12-icon {
  width: 241px;
  height: 236px;
  position: relative;
  border-radius: var(--br-9xs);
  object-fit: cover;
}
.engineering,
.project-group-d {
  position: relative;
  line-height: 26px;
}
.engineering {
  color: var(--color-dimgray-200);
  margin-top: -1px;
}
.frame-wrapper6,
.project-group-d-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper6 {
  flex-direction: row;
  padding: 0 var(--padding-11xs);
}
.frame-wrapper5,
.image-12-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.image-12-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.frame-wrapper5 {
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
}
.frame-parent2 {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 9.3px;
  grid-template-columns: repeat(4, minmax(181px, 1fr));
  font-size: var(--font-size-mid);
  color: var(--color-silver);
  font-family: var(--font-inter);
}
.frame-parent1 {
  width: 987px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 23px;
  max-width: 100%;
  font-size: 35px;
  color: var(--color-white);
  font-family: var(--font-epilogue);
}
.find-friends-content,
.find-friends-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.find-friends-content {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.find-friends-content-wrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-smi) 34.5px var(--padding-mini);
  box-sizing: border-box;
  flex-shrink: 0;
  font-size: var(--font-size-base);
}
.new-group {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 27px;
  font-family: var(--font-inter);
  color: var(--color-lightcyan);
  text-align: left;
}
.button-1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs-5) var(--padding-xl) var(--padding-3xs-5)
    var(--padding-2xl);
  background-color: var(--color-seagreen);
  width: 322px;
  border-radius: 23px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  max-width: 100%;
}
.button-1:hover {
  background-color: var(--color-mediumseagreen);
}
.chat-with-your,
.group-chat1 {
  position: relative;
  line-height: 26px;
}
.chat-with-your {
  font-size: var(--font-size-base);
  color: var(--color-dimgray-200);
}
.chat-preview-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.open-chat {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 27px;
  font-family: var(--font-inter);
  color: var(--color-silver);
  text-align: left;
}
.button-4,
.chat-preview-details,
.chat-preview-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) 25px var(--padding-8xs) 26px;
  background-color: var(--color-darkslategray);
  border-radius: 19px;
  overflow: hidden;
  flex-direction: row;
  white-space: nowrap;
}
.button-4:hover {
  background-color: var(--color-dimgray-100);
}
.chat-preview-details,
.chat-preview-info {
  flex-direction: column;
}
.chat-preview-info {
  gap: var(--gap-mini);
}
.chat-preview-details {
  padding: var(--padding-9xs) 0 0;
}
.image-13-icon {
  height: 179px;
  width: 315px;
  position: relative;
  border-radius: var(--br-9xs);
  object-fit: cover;
}
.chat-preview,
.container-2 {
  display: flex;
  align-items: flex-start;
}
.container-2 {
  align-self: stretch;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-mini) 0 var(--padding-base) var(--padding-lgi);
  gap: var(--gap-xl);
}
.chat-preview {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs-5);
  box-sizing: border-box;
  min-width: 654px;
  max-width: 100%;
}
.button-1-parent,
.profile-content-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.button-1-parent {
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 30.5px;
}
.profile-content-inner {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 0 79px var(--padding-9xs);
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-silver);
  font-family: var(--font-inter);
}
.about1 {
  position: relative;
  line-height: 26px;
}
.about-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xs) 0 0;
}
.contact1,
.privacy {
  position: relative;
  line-height: 26px;
}
.footer-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.image-1-icon,
.image-10-icon,
.image-6-icon {
  height: 25px;
  width: 27px;
  position: relative;
  border-radius: var(--br-9xs);
  object-fit: contain;
}
.image-1-icon,
.image-6-icon {
  height: 27px;
  object-fit: cover;
  min-height: 27px;
}
.social-icons,
.vibe-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.social-icons {
  align-items: flex-end;
  gap: var(--gap-mid);
}
.vibe-logo {
  align-items: flex-start;
  padding: 0 0 0 var(--padding-11xl);
}
.vibegroups {
  width: 138px;
  height: 26px;
  position: relative;
  line-height: 26px;
  display: inline-block;
}
.vibe-logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 29px;
}
.footer1,
.vibe-branding {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.vibe-branding {
  width: 731px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  color: var(--color-lightslategray);
}
.footer1 {
  width: 760px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
}
.footer {
  width: 1350px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  flex-shrink: 0;
  color: var(--color-dimgray-200);
}
.footer,
.profile-content,
.profile-content-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.profile-content {
  height: 936px;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 128px;
  gap: 6px;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-silver);
  font-family: var(--font-inter);
}
.profile-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 35px 0 42px;
}
.conversion-output {
  width: 100%;
  position: relative;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  border-radius: var(--br-xl);
  background-color: var(--color-gray-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-14xl) 0 0;
  box-sizing: border-box;
  gap: 37px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .container-1 {
    padding-right: 24px;
    box-sizing: border-box;
  }
  .find-friends-content,
  .profile-actions {
    flex-wrap: wrap;
  }
  .profile-content {
    height: auto;
  }
  .profile-content-wrapper {
    padding-left: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .frame-group {
    display: none;
  }
  .frame-parent {
    width: 327px;
  }
  .frame-parent2 {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(181px, 313px));
  }
  .chat-preview {
    min-width: 100%;
  }
  .profile-content {
    padding-bottom: 83px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .group-chats {
    font-size: 28px;
    line-height: 40px;
  }
  .container-2 {
    flex-wrap: wrap;
    justify-content: center;
    padding-right: var(--padding-lgi);
    box-sizing: border-box;
  }
  .button-1-parent {
    gap: var(--gap-mini);
  }
  .conversion-output {
    gap: 18px;
  }
}
@media screen and (max-width: 450px) {
  .frame-container {
    gap: var(--gap-mid);
  }
  .button-2-parent {
    flex-wrap: wrap;
  }
  .textbox-2-parent {
    gap: var(--gap-xl);
  }
  .group-chats {
    font-size: 21px;
    line-height: 30px;
  }
  .frame-parent2 {
    grid-template-columns: minmax(181px, 1fr);
  }
  .footer-content {
    flex-wrap: wrap;
  }
  .profile-content {
    padding-bottom: 54px;
    box-sizing: border-box;
  }
}
