.icon-1 {
  align-self: stretch;
  width: 36px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 43px;
}
.sconnect {
  text-decoration: none;
  position: relative;
  line-height: 26px;
  font-weight: 600;
  color: inherit;
  white-space: nowrap;
}
.left-sidebar,
.sidebar-connect {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar-connect {
  flex-direction: column;
  padding: var(--padding-mid) 0 0;
}
.left-sidebar {
  flex-direction: row;
  gap: var(--gap-2xs);
}
.sign-up {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.21px;
  line-height: 21px;
  font-weight: 700;
  font-family: var(--font-plus-jakarta-sans);
  color: var(--color-white);
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
}
.depth-5-frame-0,
.depth-6-frame-0,
.depth-7-frame-0 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-5-frame-0,
.depth-6-frame-0 {
  background-color: var(--color-seagreen);
  overflow: hidden;
}
.depth-5-frame-0 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs-5) 16px;
  border-radius: var(--br-xl);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content-block-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
}
.log-in {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.21px;
  line-height: 21px;
  font-weight: 700;
  font-family: var(--font-plus-jakarta-sans);
  color: #1c170d;
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
}
.depth-5-frame-1,
.depth-6-frame-01,
.depth-7-frame-01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-5-frame-1,
.depth-6-frame-01 {
  background-color: var(--color-linen);
  overflow: hidden;
}
.depth-5-frame-1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs-5) var(--padding-2xl);
  border-radius: var(--br-xl);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.button,
.content-blocks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button {
  flex: 1;
  box-shadow: var(--button-shadow);
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-200);
  align-items: flex-start;
  padding: 10px var(--padding-2xs) var(--padding-11xs);
}
.content-blocks {
  align-self: stretch;
  align-items: flex-end;
}
.container-6,
.sidebar-content {
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.container-6 {
  width: 1440px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  background-color: var(--color-gray-200);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-11xs) var(--padding-12xs) var(--padding-sm)
    var(--padding-xs);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-white);
  font-family: var(--small-text);
}
.image-8-icon {
  height: 365px;
  flex: 1;
  position: relative;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.image-one {
  width: 1028px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
}
.image-5-icon {
  width: 454px;
  position: relative;
  border-radius: var(--br-9xs);
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.how-soconnect-can {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 64.8px;
  font-weight: 700;
  font-family: inherit;
}
.how-soconnect {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs);
  font-size: 55px;
}
.help-you {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 72px;
  font-weight: 700;
  font-family: inherit;
}
.help-you-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  font-size: 51px;
}
.soconnect-is-your {
  margin: 0;
  position: relative;
  line-height: 26px;
  font-family: var(--small-text);
  color: var(--color-silver);
  display: inline-block;
  max-width: 100%;
}
.iooking-to-meet,
.something-new-weve {
  display: block;
}
.iooking-to-meet-container {
  margin: 0;
  position: relative;
  line-height: 26px;
  font-family: var(--small-text);
  color: var(--color-silver);
  display: inline-block;
  max-width: 100%;
}
.how-soconnect-parent,
.image-description-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.how-soconnect-parent {
  flex: 1;
  flex-direction: column;
  gap: 2.1px;
}
.image-description-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 9px;
  box-sizing: border-box;
}
.magnifying-glass-1 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.magnifying-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.search-for-groups {
  margin: 0;
  position: relative;
  line-height: 26px;
}
.search-bar,
.search-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.search-input {
  flex-direction: row;
  gap: var(--gap-2xs);
}
.search-bar {
  flex-direction: column;
  padding: var(--padding-smi) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.search {
  position: relative;
  font-size: var(--small-text-size);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--small-text);
  color: var(--color-white);
  text-align: left;
}
.button1,
.container-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) 24px;
  background-color: var(--color-gray-200);
  box-shadow: var(--button-shadow);
  border-radius: var(--br-5xs);
  justify-content: flex-start;
}
.button1:hover {
  background-color: #424d57;
}
.container-1 {
  width: 541px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-9xs);
  background-color: #3c3f4a;
  justify-content: space-between;
  padding: var(--padding-smi) 0 var(--padding-5xs) var(--padding-lgi);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  color: var(--color-silver);
  font-family: var(--small-text);
}
.image-description,
.image-two {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.image-description {
  flex-direction: column;
  align-items: flex-start;
  gap: 37px;
  min-width: 359px;
}
.image-two {
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-6xl);
}
.image-1-icon,
.social-icons {
  align-self: stretch;
  max-width: 100%;
}
.social-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mid) var(--padding-5xs) 0;
  box-sizing: border-box;
}
.image-1-icon {
  flex: 1;
  position: relative;
  border-radius: var(--br-9xs);
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.find-student-groups {
  position: relative;
  line-height: 26px;
  z-index: 1;
}
.resources-highlight {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.join-organizations-and,
.match-your-interests {
  display: block;
}
.join-organizations-and-container {
  margin: 0;
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 24px;
}
.resources-highlight-parent {
  flex-direction: column;
  gap: var(--gap-12xs-3);
}
.content-block-three,
.content-three,
.content-three-inner,
.resources-highlight-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content-three-inner {
  flex-direction: row;
  padding: 0 var(--padding-11xs);
}
.content-block-three,
.content-three {
  flex-direction: column;
}
.content-three {
  align-self: stretch;
  flex: 1;
  gap: var(--gap-sm);
}
.content-block-three {
  height: 231.6px;
  width: 255px;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.image-2-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.access-resources {
  position: relative;
  line-height: 26px;
  flex-shrink: 0;
  debug_commit: 69da668;
  z-index: 1;
}
.get-access-to,
.internships-and-other {
  display: block;
}
.get-access-to-container {
  margin: 0;
  height: 51px;
  position: relative;
  line-height: 26px;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 69da668;
}
.get-access-to-job-postingsint-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  margin-top: -0.7px;
  font-size: var(--small-text-size);
}
.resources {
  position: relative;
  line-height: 22px;
  flex-shrink: 0;
  debug_commit: 69da668;
  z-index: 1;
}
.features-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  margin-top: -0.7px;
  font-size: var(--font-size-sm);
}
.access-resources-parent,
.content-block-four {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content-block-four {
  height: 256px;
  width: 251px;
  gap: var(--gap-smi);
}
.image-6-icon {
  align-self: stretch;
  height: 145px;
  position: relative;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.discover-opportunities {
  position: relative;
  line-height: 26px;
  z-index: 1;
}
.discover-opportunities-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.activities,
.find-out-about,
.workshops-and-other {
  display: block;
}
.find-out-about-container {
  margin: 0;
  height: 71px;
  position: relative;
  font-size: var(--small-text-size);
  line-height: 25px;
  color: var(--color-silver);
  display: inline-block;
}
.content-five,
.frame-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs-3);
}
.content-five {
  flex: 1;
  gap: var(--gap-smi);
  min-width: 164px;
}
.image-9-icon {
  height: 145px;
  flex: 1;
  position: relative;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.content-six {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) 0 0;
}
.explore-events {
  position: relative;
  line-height: 26px;
  z-index: 1;
}
.connect-with-other,
.out,
.studying-projects-or {
  display: block;
}
.connect-with-other-container {
  margin: 0;
  height: 71px;
  position: relative;
  font-size: var(--small-text-size);
  line-height: 25px;
  color: var(--color-silver);
  display: inline-block;
}
.content-block-six,
.explore-events-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.explore-events-parent {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-12xs-3);
}
.content-block-six {
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-smi);
  min-width: 166px;
}
.content-block-five,
.content-blocks-two {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.content-block-five {
  flex: 1;
  gap: var(--gap-2xs);
  min-width: 337px;
  color: var(--color-white);
}
.content-blocks-two {
  align-self: stretch;
  flex-wrap: wrap;
  gap: 12px;
  color: var(--color-silver);
  font-family: var(--small-text);
}
.why-students-love {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 38px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.favorite-1-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.testimonial-one {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.easy-to-use {
  position: relative;
  line-height: 26px;
}
.info-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.simple-to-use,
.the-app-is {
  margin: 0;
}
.the-app-is-container {
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 24px;
  color: var(--color-silver);
}
.container-2,
.testimonial-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.container-2 {
  width: 252px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
  flex-shrink: 0;
  padding: var(--padding-lg) var(--padding-lgi) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-lgi);
}
.flag-icon {
  margin: 0;
  width: 28px;
  height: 24px;
}
.get-notified-about,
.helpful-features1 {
  position: relative;
  line-height: 26px;
}
.get-notified-about {
  font-size: var(--small-text-size);
  color: var(--color-silver);
}
.helpful-features {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.events-and-resources {
  position: relative;
  font-size: var(--small-text-size);
  line-height: 26px;
  color: var(--color-silver);
  margin-top: -3px;
}
.helpful-features-parent {
  justify-content: flex-start;
}
.container-3,
.container-3-wrapper,
.helpful-features-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container-3 {
  align-self: stretch;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-xl) var(--padding-45xl);
  gap: 15px;
}
.container-3-wrapper {
  width: 252px;
  flex-shrink: 0;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.meeting-1-icon {
  width: 36px;
  height: 36px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.great-for-meeting {
  position: relative;
  line-height: 26px;
}
.great-for-meeting-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.people {
  position: relative;
  line-height: 26px;
}
.people-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.friends-through-student,
.groups,
.we-enable-a {
  display: block;
}
.we-enable-a-container {
  margin: 0;
  height: 78px;
  position: relative;
  font-size: var(--small-text-size);
  line-height: 26px;
  color: var(--color-silver);
  display: inline-block;
}
.people-block {
  margin-top: -4px;
}
.container-4,
.container-4-inner,
.frame-group,
.people-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container-4,
.container-4-inner {
  flex-direction: row;
  padding: 0 var(--padding-9xs);
}
.container-4 {
  width: 252px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-2xs) 15px var(--padding-smi);
  box-sizing: border-box;
  gap: var(--gap-sm);
}
.c-info-1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.c-info-1-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.its-a-great,
.lots-of-useful {
  position: relative;
  line-height: 26px;
}
.its-a-great {
  line-height: 24px;
}
.loop-with-campus {
  position: relative;
  font-size: var(--small-text-size);
  line-height: 26px;
  margin-top: -2px;
}
.container-5,
.its-a-great-way-to-stay-in-th-parent,
.lots-of-useful-info-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.its-a-great-way-to-stay-in-th-parent {
  font-size: var(--font-size-mini);
  color: var(--color-silver);
}
.container-5,
.lots-of-useful-info-parent {
  gap: var(--gap-12xs);
}
.container-5 {
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
  padding: var(--padding-lg) var(--padding-2xl) var(--padding-45xl);
  gap: var(--gap-lgi);
}
.container-2-parent,
.student-love-header {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.container-2-parent {
  width: 1045px;
  overflow-x: auto;
  flex-direction: row;
  align-items: flex-end;
  gap: 12.3px;
  font-size: var(--font-size-mid);
  font-family: var(--small-text);
}
.student-love-header {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}
.socials,
.testimonials-content {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.socials {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-10xs) 0 var(--padding-12xs);
  box-sizing: border-box;
  font-size: 25px;
}
.testimonials-content {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 51px;
}
.about {
  position: relative;
  line-height: 26px;
}
.about-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 0;
}
.contact,
.privacy {
  position: relative;
  line-height: 26px;
}
.social-links {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.facebook-logo-1 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.facebook-logo-1-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
}
.image-3-icon,
.image-7-icon {
  height: 23px;
  width: 25px;
  position: relative;
  border-radius: var(--br-9xs);
  object-fit: cover;
}
.image-3-icon {
  height: 25px;
  width: 24px;
  min-height: 25px;
}
.social-icons1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 20.5px;
}
.privacy-block,
.social-icons-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.social-icons-wrapper {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-3xl) 0 var(--padding-xl);
}
.privacy-block {
  flex-direction: column;
  justify-content: flex-start;
  gap: 27px;
}
.o-2023-sconnect {
  position: relative;
  line-height: 26px;
}
.copyright {
  width: 741px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.footer-links {
  width: 764px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}
.footer,
.footer-content,
.footer-links {
  display: flex;
  max-width: 100%;
}
.footer {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
  color: var(--color-silver);
  font-family: var(--small-text);
}
.footer-content {
  width: 1049px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 115px;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-white);
  font-family: var(--font-epilogue);
}
.homepage,
.right-sidebar {
  display: flex;
  box-sizing: border-box;
}
.right-sidebar {
  width: 1440px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  max-width: 100%;
}
.homepage {
  position: relative;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  background-color: var(--color-gray-200);
  width: 100%;
  overflow-x: auto;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-11xs) 290px 0 var(--padding-11xs);
  gap: 34px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .how-soconnect-parent,
  .image-5-icon {
    flex: 1;
  }
  .image-two {
    flex-wrap: wrap;
  }
  .footer-content {
    gap: 57px;
  }
}
@media screen and (max-width: 1000px) {
  .how-soconnect-can {
    font-size: 44px;
    line-height: 62px;
  }
  .help-you {
    font-size: 41px;
    line-height: 58px;
  }
  .image-description {
    min-width: 100%;
  }
  .homepage {
    padding-right: 145px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 725px) {
  .container-1 {
    flex-wrap: wrap;
    padding-right: var(--padding-lgi);
    box-sizing: border-box;
  }
  .image-description {
    gap: 18px;
  }
  .content-block-five {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .student-love-header {
    gap: 24px;
  }
  .testimonials-content {
    gap: var(--gap-6xl);
  }
  .footer-content {
    gap: 29px;
  }
}
@media screen and (max-width: 450px) {
  .how-soconnect-can {
    font-size: 33px;
    line-height: 47px;
  }
  .help-you {
    font-size: 31px;
    line-height: 43px;
  }
  .why-students-love {
    font-size: 20px;
    line-height: 30px;
  }
  .social-links {
    flex-wrap: wrap;
  }
  .homepage {
    gap: 17px;
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
